// Generic
$primary-color:#EBF8FF;
$alt-color: #81E6D9;
$light-color: #fff;
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Lobster', cursive, sans-serif;
$title-font-weight: 400;
$title-color: #000;

// Post
$post-text-color: #666;
$post-hover-color: #f7f7f7;
