@use 'src/styles/vars' as v;

.wrapper {
  display: flex;
}

.repo {
  background-color:v.$primary-color;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 20%;
  min-width: 20%;
  height: 400px;
  box-shadow: 5px 5px 5px rgb(200, 200, 200);
  border-radius: 10px;
  padding: v.$gutter;
  margin: 0.5em;
  background-color: #fff;
  &__title {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: v.$gutter/2;
  }
  &__subtitle {
    font-size: 0.7em;
    font-family: sans-serif;
    font-weight: thin;
    color: v.$title-color;
    overflow: hidden;
  }
  &__text {
    color: v.$title-color;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: normal;
  }
  &__image {
    width: 50%;
    margin-bottom: 1em;
  }
}